---
title: Events
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<div id="wsite-content" class="wsite-elements wsite-not-footer">
    <h2 class="wsite-content-title" style="text-align:center;">PRIVATE EVENTS</h2>
    <div class="paragraph" style="text-align:center;display:block;">We are eager to accommodate your party, private event, what have you. Just let us know what you have in mind, and we'll be happy to help.
        <br />
        <br />For more information regarding available dates, features, etc., please Click the link below or call.&nbsp;
        <br />
        <br />
        <br /><strong>Phone</strong>: 513.898.7991</div>

    <div style="text-align:center;">
        <div style="height: 10px; overflow: hidden;"></div>
        <%= link_to '<span class="wsite-button-inner">Private Events Bookings</span>'.html_safe, data.kaze.private_events_url, class: 'wsite-button wsite-button-small wsite-button-normal' %>
        <div style="height: 10px; overflow: hidden;"></div>
    </div>

    <div>
        <div style="height: 20px; overflow: hidden;"></div>
        <div id='220260530708632279-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
            <div id='220260530708632279-imageContainer0' style='float:left;width:33.28%;margin:0;'>
                <div id='220260530708632279-insideImageContainer0' style='position:relative;margin:5px;'>
                    <div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
                        <div class='galleryInnerImageHolder'>
                            <a href='uploads/1/3/6/0/13606600/2290362_orig.jpg' data-fancybox="gallery">
                                <%= image_tag 'uploads/1/3/6/0/13606600/2290362.jpg', class: 'galleryImage', style: 'position:absolute;border:0;width:100%;top:-0%;left:0%' %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id='220260530708632279-imageContainer1' style='float:left;width:33.28%;margin:0;'>
                <div id='220260530708632279-insideImageContainer1' style='position:relative;margin:5px;'>
                    <div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
                        <div class='galleryInnerImageHolder'>
                            <a href='uploads/1/3/6/0/13606600/4047238_orig.jpg' data-fancybox="gallery">
															<%= image_tag 'uploads/1/3/6/0/13606600/4047238.jpg', class: 'galleryImage', style: 'position:absolute;border:0;width:100%;top:-0%;left:0%' %>
														</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id='220260530708632279-imageContainer2' style='float:left;width:33.28%;margin:0;'>
                <div id='220260530708632279-insideImageContainer2' style='position:relative;margin:5px;'>
                    <div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
                        <div class='galleryInnerImageHolder'>
                            <a href='uploads/1/3/6/0/13606600/6482433_orig.jpg' data-fancybox="gallery">
															<%= image_tag 'uploads/1/3/6/0/13606600/6482433.jpg', class: 'galleryImage', style: 'position:absolute;border:0;width:100%;top:-0%;left:0%' %>
														</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id='220260530708632279-imageContainer3' style='float:left;width:33.28%;margin:0;'>
                <div id='220260530708632279-insideImageContainer3' style='position:relative;margin:5px;'>
                    <div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
                        <div class='galleryInnerImageHolder'>
                            <a href='uploads/1/3/6/0/13606600/398892_orig.jpg' data-fancybox="gallery">
															<%= image_tag 'uploads/1/3/6/0/13606600/398892.jpg', class: 'galleryImage', style: 'position:absolute;border:0;width:100%;top:-0%;left:0%' %>
														</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id='220260530708632279-imageContainer4' style='float:left;width:33.28%;margin:0;'>
                <div id='220260530708632279-insideImageContainer4' style='position:relative;margin:5px;'>
                    <div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
                        <div class='galleryInnerImageHolder'>
                            <a href='uploads/1/3/6/0/13606600/5943408_orig.jpg' data-fancybox="gallery">
															<%= image_tag 'uploads/1/3/6/0/13606600/5943408.jpg', class: 'galleryImage', style: 'position:absolute;border:0;width:100%;top:-0%;left:0%' %>
														</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id='220260530708632279-imageContainer5' style='float:left;width:33.28%;margin:0;'>
                <div id='220260530708632279-insideImageContainer5' style='position:relative;margin:5px;'>
                    <div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
                        <div class='galleryInnerImageHolder'>
                            <a href='uploads/1/3/6/0/13606600/194991_orig.jpg' data-fancybox="gallery">
															<%= image_tag 'uploads/1/3/6/0/13606600/194991.jpg', class: 'galleryImage', style: 'position:absolute;border:0;width:100%;top:-0%;left:0%' %>
														</a>
                        </div>
                    </div>
                </div>
            </div><span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
        </div>

        <div style="height: 20px; overflow: hidden;"></div>
    </div>

    <h2 class="wsite-content-title" style="text-align:center;">food &amp; drink specials</h2>

    <div class="paragraph" style="text-align:center;">DAILY HAPPY HOUR
        <br />
        <br />Select discounts on food and drinks (in the bar areas only)
        <br />Monday through Friday, 4pm-6pm
        <br />
        <% unless happy_hour_menu.nil? %>
        <br />Happy Hour&nbsp; <%= link_to 'MENU', happy_hour_menu %>
        <% end %>
        <br />
        <br />
    </div>
</div>
