<div class="row">
  <div class="col-xs-12 text-center">
    <ul class="list-inline">
      <li><a href="/" class="<%= 'active' if current_page.path =~ /^index/ %> pages caps">Home</a></li>
      <li><a href="/contact" class="<%= 'active' if current_page.path =~ /^contact/ %> pages caps">Contact</a></li>
    </ul>
    <ul class="list-inline copyright">
      <li><span>&copy; <span data-role="current-year"><%= Time.now.year %></span> Kaze</span>
      <li><%= link_to 'Privacy Policy', '/privacy-policy' %></li>
      <li><%= link_to 'Refund Policy', '/refund-policy' %></li>
    </ul>
    <p class="legal"> Site design by <%= link_to 'Ample', 'http://helloample.com', target: 'blank', class: "text-red" %>
    </p>
  </div>
</div>
