<div class="row">
  <div class="col-xs-12 text-center">
    <ul class="list-inline">
      <li><a href="/" class="<%= 'active' if current_page.path =~ /^index/ %> caps">Home</a></li>
      <li><a href="/contact" class="<%= 'active' if current_page.path =~ /^contact/ %> caps">Contact</a></li>
    </ul>
    <p class="legal"><%= link_to 'Privacy Policy', '/privacy-policy' %> &nbsp;
      <%= link_to 'Refund Policy', '/refund-policy' %></p>
    <p class="copyright">&copy; <span data-role="current-year"><%= Time.now.year %></span> Pepp &amp; Delores</p>
    <p class="legal"> Site design by <%= link_to 'Ample', 'http://helloample.com', target: 'blank', class: "text-red" %>
    </p>
  </div>
</div>
