---
title: Tacos. Tequila. Whiskey.
pageable: false
per_page: 1
---

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="wrapper">
        <%= image_tag 'home-carousel-bg-1@2x.jpg', alt:'' %>
        <div class="carousel-caption">
          <h1>Authentic<br>
            House-made<br>
            Pasta</h1>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="wrapper">
        <%= image_tag 'home-carousel-bg-2@2x.jpg', alt:'' %>
        <div class="carousel-caption">
          <h1>Authentic<br>
            House-made<br>
            Pasta</h1>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="wrapper">
        <%= image_tag 'home-carousel-bg-3@2x.jpg', alt:'' %>
        <div class="carousel-caption">
          <h1>Authentic<br>
            House-made<br>
            Pasta</h1>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <object>
      <svg role="img">
        <use xlink:href="images/icons.svg#chevron-left" />
      </svg>
    </object>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <object>
      <svg role="img">
        <use xlink:href="images/icons.svg#chevron-right" />
      </svg>
    </object>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="intro">
  <div class="ornament top"></div>
  <div class="container">
    <p class="lead">inspired by the spirit and piazzas of southern italy and sicily, san morello is chef andrew
      carmellini's urban italian neighborhood restaurant in downtown detroit serving authentic, wood-fired dishes,
      pizzas and house-made pastas using local, seasonal ingredients.</p>
  </div>
  <div class="ornament bottom"></div>
</section>

<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag 'home-gallery-1.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-6">
        <%= image_tag 'home-gallery-2.jpg', alt:'', class:'img-responsive' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <%= image_tag 'home-gallery-3.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-3">
        <%= image_tag 'home-gallery-4.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-3">
        <%= image_tag 'home-gallery-5.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-3">
        <%= image_tag 'home-gallery-6.jpg', alt:'', class:'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="locations-press">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="locations">
          <div class="row">
            <div class="col-sm-4 col-md-3">
              <div class="title">
                <h2>Locations</h2>
              </div>
            </div>

            <div class="col-sm-8 col-md-9">
              <div class="location">
                <span>Cincinnati</span>
                <address>
                  <a href="https://www.google.com/maps/place/143+Walnut+St,+Cincinnati,+OH+45215,+USA/@39.09819,-84.5127443,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b15ab4fdd741:0x556dd1ae0cb95982!8m2!3d39.09819!4d-84.5105503"
                    target="_blank">
                    143 Walnut St. Cincinnati, OH 45202
                  </a>
                </address>
                <a href="tel:513-867-5309">(513) 867-5309</a>

                <p>
                  Mon-Thurs 11AM to 12PM<br>
                  Fri-Sat 11AM to 2PM<br>
                  Sun 11AM to 10PM
                </p>

                <a href="#" class="btn btn-primary">Reserve a Table</a>
              </div>

              <div class="social">
                <a href="">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#facebook" />
                    </svg>
                  </object>
                  Facebook
                </a>

                <a href="">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#twitter" />
                    </svg>
                  </object>
                  Twitter
                </a>

                <a href="" class="doordash">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#doordash" />
                    </svg>
                  </object>
                  Doordash
                </a>

                <a href="" class="uber-eats">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#uber-eats" />
                    </svg>
                  </object>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
