---
title: Informal Japanese Pub
pageable: false
per_page: 1
---

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="wrapper">
        <%= image_tag 'home-carousel-bg-1@2x.jpg', alt:'' %>
        <!--
        <div class="carousel-caption">
          <h1>Fresh<br>
            Japanese<br>
            Cuisine</h1>
        </div>
        -->
      </div>
    </div>

    <div class="item">
      <div class="wrapper">
        <%= image_tag 'home-carousel-bg-2@2x.jpg', alt:'' %>
        <!--
        <div class="carousel-caption">
          <h1>Fresh<br>
            Japanese<br>
            Cuisine</h1>
        </div>
        -->
      </div>
    </div>

    <div class="item">
      <div class="wrapper">
        <%= image_tag 'home-carousel-bg-3@2x.jpg', alt:'' %>
        <!--
        <div class="carousel-caption">
          <h1>Fresh<br>
            Japanese<br>
            Cuisine</h1>
        </div>
        -->
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <object>
      <svg role="img">
        <use xlink:href="images/icons.svg#chevron-left" />
      </svg>
    </object>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <object>
      <svg role="img">
        <use xlink:href="images/icons.svg#chevron-right" />
      </svg>
    </object>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="intro">
  <div class="container">
    <p class="lead">Kaze & 36 Chambers bar is inspired by the spirit of the Japanese Izakaya, an informal Japanese pub featuring shareable small plates. 
    We offer three distinct dining environments: our dining room, our indoor 36 Chambers bar and beautiful private patio.</p>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag 'home-gallery-1.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-6">
        <%= image_tag 'home-gallery-2.jpg', alt:'', class:'img-responsive' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <%= image_tag 'home-gallery-3.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-3">
        <%= image_tag 'home-gallery-4.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-3">
        <%= image_tag 'home-gallery-5.jpg', alt:'', class:'img-responsive' %>
      </div>

      <div class="col-sm-3">
        <%= image_tag 'home-gallery-6.jpg', alt:'', class:'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="locations-press">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="locations">
          <div class="row">
            <div class="col-sm-4 col-md-3">
              <div class="title">
                <h2>Locations</h2>
              </div>
            </div>

            <div class="col-sm-8 col-md-9">
              <div class="location">
                <span>Cincinnati</span>
                <address>
                  <a href="https://www.google.com/maps/place/1400+Vine+St,+Cincinnati,+OH+45202/@39.111065,-84.5173597,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b3fdb1800541:0xd607a815b12d97e5!8m2!3d39.111065!4d-84.515171"
                    target="_blank">
                    1400 Vine St. Cincinnati, OH 45202
                  </a>
                </address>
                <a href="tel:513-898-7991">(513)898-7991</a>

                <p>
                  Mon-Thurs 4PM to 12AM<br>
                  Fri 4PM to 2AM<br>
                  Sat 11AM to 2AM<br>
                  Sun 11AM to 10PM
                </p>

                <a href="#" class="btn btn-primary">Reserve a Table</a>
              </div>

              <div class="social">
                <a href="https://www.facebook.com/KazeOTR/">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#facebook" />
                    </svg>
                  </object>
                  Facebook
                </a>

                <a href="https://twitter.com/kazeotr">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#twitter" />
                    </svg>
                  </object>
                  Twitter
                </a>

                <!--
                <a href="" class="doordash">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#doordash" />
                    </svg>
                  </object>
                  Doordash
                </a>

                <a href="" class="uber-eats">
                  <object>
                    <svg role="img">
                      <use xlink:href="images/icons.svg#uber-eats" />
                    </svg>
                  </object>
                </a>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
